.AnswerItem {
    border: 1px solid rgba(225, 225, 225, .25);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.AnswerItem:hover {
    background: rgba(225, 225, 225, .2);
    transition: background .3s ease-in-out;
}

.AnswerItem.success {
    background: rgba(39, 183, 235, .7);
}

.AnswerItem.error {
    background: rgba(235, 28, 145, .7);
}